<ion-card *ngIf="content.content.public">
    <ion-item>
        <ion-icon name="people" color="primary" item-left></ion-icon>
        <h4 ion-text color="secondary">Public ciblé</h4>
    </ion-item>
    <ion-card-content>
        <ion-note color="note">{{content.content.public}}</ion-note>
    </ion-card-content>
</ion-card>
<ion-card *ngIf="content.content.lieu">
    <ion-item>
        <ion-icon name="pin" color="primary" item-left></ion-icon>
        <h4 ion-text color="secondary">Lieu</h4>
    </ion-item>
    <ion-card-content>
        <ion-note color="note">{{content.content.lieu}}</ion-note>
    </ion-card-content>
</ion-card>
<ion-card *ngIf="content.content.objectifs">
    <ion-item>
        <ion-icon name="done-all" color="primary" item-left></ion-icon>
        <h4 ion-text color="secondary">Pour quels objectifs</h4>
    </ion-item>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let obj of content.content.objectifs">
                <p class="line-break" color="note">{{obj}}</p>
                <hr>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
<ion-card *ngIf="content.content.contact">
    <ion-item>
        <ion-icon name="contact" color="primary" item-left></ion-icon>
        <h4 ion-text color="secondary">Contact</h4>
    </ion-item>
    <ion-card-content>
        <ion-note color="note" (click)="openLink('content.contact')"><span ion-text color="primary">{{content.content.contact}}</span> Tèl : <span ion-text color="primary">{{content.content.tel}}</span>            </ion-note>
    </ion-card-content>
</ion-card>
<ion-card *ngIf="content.content.actions">
    <ion-item>
        <h4 ion-text color="secondary" class="line-break">La contribution de l’Office de Développement de la Coopération à l’insertion des migrants en situation administrative
            régulière dans le tissu socioéconomique via l’organisation en coopératives s’effectue à travers les actions suivantes
            :</h4>
    </ion-item>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let obj of content.content.actions">
                <p ion-text class="line-break" color="note">{{obj}}</p>
                <hr>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>